* {
    box-sizing: border-box;
}

body {
    background-color: #B7CECE;
    margin: 0px;
}

header {
    background-color: #9AB0BA;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;

}

nav {
    background-color: #B7CECE;
    font-family: Arial;
    text-align: center;

}


nav a {
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: #69a4bf;
    color: white;
}


footer {
    background-color: #9AB0BA;
    color: #444444;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
}

.card {
    /*background-color: white; */
    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
    background-image: url(image/card.jpg);
    background-size: cover;
}




article {
    float: right;
    width: 73%;
}

aside {
    float: left;
    width: 25%;
    text-align: center;
}

.clearfix {
    clear: both;
}

@media screen and (max-width:800px) {

    article,
    aside {
        float: none;
        width: 100%;
    }

    .card {
        padding: 10px;
        margin: 15px 0px;
    }

    img {
        max-width: 100%;
        height: 90%;
    }
}