* {
    box-sizing: border-box;
}

body {
    background-color: #B7CECE;
    margin: 0px;
}

header {
    background-color: #9AB0BA;
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
    text-align: center;
    padding: 2px;
    margin: 0px;



}

nav {
    background-color: #B7CECE;
    font-family: 標楷體;
    text-align: center;
    font-size: 25px;
}


nav a {
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover {
    background-color: #69a4bf;
    color: white;
}



footer {
    background-color: #9AB0BA;
    color: #444444;
    text-align: center;
    padding: 7px 7px;
    ;
}

main {
    padding: 20px;
}

.card {

    padding: 20px;
    margin: 20px 10px;
    border-radius: 15px;
    background-image: url(image/background/card.jpg);
    background-size: cover;
}

.information {
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: 標楷體;
    color: white;
    background-color: #69a4bf;
}

h3 {
    text-align: left;
    font-size: 30px;
    color: #617185;

}

h4 {
    text-align: left;
    font-size: 20px;
}

.project {
    text-align: left;
    font-size: 20px;
    color: #5377a4;
    font-weight: 500;
    font-family: 微軟正黑體;
}

.programming {
    color: white;
    margin-left: 240px;
    display: flex;
    justify-content: center;
    background-color: #9AB0BA;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 5%;
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.microsoft {
    color: white;
    margin-left: 240px;
    display: flex;
    justify-content: center;
    background-color: #9AB0BA;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 5%;
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.school1 {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    float: right;
    width: 73%;
}

aside {
    float: left;
    width: 25%;
    text-align: center;
}

.me {
    font-family: 微軟正黑體;
    font-weight: 1000;
    font-size: 25px;
    color: #617185;
}

.slogan {
    font-family: 'Italianno', cursive;
    font-size: 35px;
}

.school {
    text-align: center;
    margin: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.schoolname {
    text-align: center;
    position: relative;
    color: #617185;
    font-size: 30px;
    padding: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
}


.dog {
    text-align: center;
}

.award1 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 微軟正黑體;
    color: #5377a4;
    border-style: double;
    border-radius: 5%;
    border-width: 5px;
    background-color: #BBD6EA;
    margin: 30px;
}

.award2 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 微軟正黑體;
    color: #5377a4;
    border-style: double;
    border-radius: 5%;
    border-width: 5px;
    background-color: lightblue;
    margin: 30px;
}
}

.awardtxt {
    text-align: center;
}

.clearfix {
    clear: both;

}

.contact {
    color: white;
    font-family: 微軟正黑體;
}